.App {
    text-align: center;
    background-color: #282c34;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 1s linear;
    }
}

.App-body {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Header > * {
    justify-content: left;
    color: white;
}

.About > * {
    color: white;
    text-align: left;
}

.About-photo-column {
    text-align: center;
}

.Education > * {
    color: white;
    text-align: left;
}

.Project-list > *{
    color: white;
    text-align: left;
}

.linkedin-icon > * {
    margin: 10px;
}

.github-icon {
    margin: 10px;
}

.outlook-icon {
    margin: 10px;
}

.self-photo {
   border-radius: 20%; 
}